<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.plist">
<plist version="1.0">
<dict>
    <key>get-task-allow</key>
    <true/>
    <key>task_for_pid-allow</key>
    <true/>
    <key>com.apple.system-task-ports</key>
    <true/>
    <key>com.apple.springboard.accessibility-window-hosting</key>
    <true/>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.kernel.get-kext-info</key>
    <true/>
    <key>com.apple.backboard.client</key>
    <true/>
    <key>com.apple.backboardd.global-pointer-event-routing</key>
    <true/>
    <key>com.apple.springboard-ui.client</key>
    <true/>
    <key>com.apple.QuartzCore.displayable-context</key>
    <true/>
    <key>com.apple.QuartzCore.secure-mode</key>
    <true/>
</dict>
</plist>
